<nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-dark" id="mainNav">
        <div class="container"><a class="navbar-brand" href="#page-top">Tinder</a><button data-toggle="collapse" data-target="#navbarResponsive" class="navbar-toggler navbar-toggler-right" type="button" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto text-uppercase">
                   <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/">Trang Chủ</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="user">User</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="dangnhap">Đăng Nhập</a></li>
                    
                </ul>
            </div>
        </div>
    </nav>
    
   
    <main class="page projects-page">
        <section class="portfolio-block projects-cards">
            <div class="container">
                <div class="heading">
                    <h2></h2>
                </div>
                <header class="container-fluid login-clean">
                    <div class="container">
                        <div class="row">
                            <div class="col align-self-start">
                                <form class="d-flex">
                                    <input id="inputSearch" class="form-control me-2" type="search" placeholder="Họ tên"
                                        aria-label="Search">
                                    <button id="btnSearch" class="btn btn-outline-success" type="submit">Search</button>
                                </form>
                            </div>
                            <div class="col ">
                            </div>
                        </div>
                    </div>
            
                    <div class='row'><p style="color:red" class="col">Danh sách tìm kiếm</p></div>
                    <div class="row rowSearch" style='display: none;'>
                        <div class="col">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Họ tên</th>
                                        <th scope="col">Ngày Sinh</th>
                                        <th scope="col">SDT(email)</th>
                                        <th scope="col">Giới tính</th>
                                        <th scope="col">Sở thích</th>
                                        <th scope="col">Giới thiệu ngắn</th>
                                        <th scope="col" class="col-md-6 col-lg-4">Avatar</th>
                                    </tr>
                                </thead>
                                <tbody class="userSearch">
                                </tbody>
                            </table>
                        </div>
                    </div>
            
                    <div class='row'><p style="color:red" class="col">Danh sách User</p></div>
                    <div class="row">
                        <div class="col">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Họ tên</th>
                                        <th scope="col">Ngày Sinh</th>
                                        <th scope="col">SDT(email)</th>
                                        <th scope="col">Giới tính</th>
                                        <th scope="col">Sở thích</th>
                                        <th scope="col">Giới thiệu ngắn</th>
                                        <th scope="col" class="col-md-6 col-lg-4">Avatar</th>
                                    </tr>
                                </thead>
                                <tbody class="listUser">
                                  
                                </tbody>
                            </table>
                        </div>
                    </div>
                </header>
               
            </div>
        </section>
    </main>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4"><span class="copyright">Copyright&nbsp;© Brand 2021</span></div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li class="list-inline-item"><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li class="list-inline-item"><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
                        <li class="list-inline-item"><a href="#">Terms of Use</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <div class="modal fade text-center portfolio-modal" role="dialog" tabindex="-1" id="portfolioModal1">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 mx-auto">
                            <div class="modal-body">
                                <h2 class="text-uppercase">Project Name</h2>
                                <p class="text-muted item-intro">Lorem ipsum dolor sit amet consectetur.</p><img class="img-fluid d-block mx-auto" src="assets/img/portfolio/1-full.jpg">
                                <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                                <ul class="list-unstyled">
                                    <li>Date: January 2017</li>
                                    <li>Client: Threads</li>
                                    <li>Category: Illustration</li>
                                </ul><button class="btn btn-primary" data-dismiss="modal" type="button"><i class="fa fa-times"></i><span>&nbsp;Close Project</span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade text-center portfolio-modal" role="dialog" tabindex="-1" id="portfolioModal2">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 mx-auto">
                            <div class="modal-body">
                                <h2 class="text-uppercase">Project Name</h2>
                                <p class="text-muted item-intro">Lorem ipsum dolor sit amet consectetur.</p><img class="img-fluid d-block mx-auto" src="assets/img/portfolio/2-full.jpg">
                                <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                                <ul class="list-unstyled">
                                    <li>Date: January 2017</li>
                                    <li>Client: Threads</li>
                                    <li>Category: Illustration</li>
                                </ul><button class="btn btn-primary" data-dismiss="modal" type="button"><i class="fa fa-times"></i><span>&nbsp;Close Project</span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade text-center portfolio-modal" role="dialog" tabindex="-1" id="portfolioModal3">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 mx-auto">
                            <div class="modal-body">
                                <h2 class="text-uppercase">Project Name</h2>
                                <p class="text-muted item-intro">Lorem ipsum dolor sit amet consectetur.</p><img class="img-fluid d-block mx-auto" src="assets/img/portfolio/3-full.jpg">
                                <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                                <ul class="list-unstyled">
                                    <li>Date: January 2017</li>
                                    <li>Client: Threads</li>
                                    <li>Category: Illustration</li>
                                </ul><button class="btn btn-primary" data-dismiss="modal" type="button"><i class="fa fa-times"></i><span>&nbsp;Close Project</span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade text-center portfolio-modal" role="dialog" tabindex="-1" id="portfolioModal4">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 mx-auto">
                            <div class="modal-body">
                                <h2 class="text-uppercase">Project Name</h2>
                                <p class="text-muted item-intro">Lorem ipsum dolor sit amet consectetur.</p><img class="img-fluid d-block mx-auto" src="assets/img/portfolio/4-full.jpg">
                                <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                                <ul class="list-unstyled">
                                    <li>Date: January 2017</li>
                                    <li>Client: Threads</li>
                                    <li>Category: Illustration</li>
                                </ul><button class="btn btn-primary" data-dismiss="modal" type="button"><i class="fa fa-times"></i><span>&nbsp;Close Project</span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade text-center portfolio-modal" role="dialog" tabindex="-1" id="portfolioModal5">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 mx-auto">
                            <div class="modal-body">
                                <h2 class="text-uppercase">Project Name</h2>
                                <p class="text-muted item-intro">Lorem ipsum dolor sit amet consectetur.</p><img class="img-fluid d-block mx-auto" src="assets/img/portfolio/5-full.jpg">
                                <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                                <ul class="list-unstyled">
                                    <li>Date: January 2017</li>
                                    <li>Client: Threads</li>
                                    <li>Category: Illustration</li>
                                </ul><button class="btn btn-primary" data-dismiss="modal" type="button"><i class="fa fa-times"></i><span>&nbsp;Close Project</span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade text-center portfolio-modal" role="dialog" tabindex="-1" id="portfolioModal6">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 mx-auto">
                            <div class="modal-body">
                                <h2 class="text-uppercase">Project Name</h2>
                                <p class="text-muted item-intro">Lorem ipsum dolor sit amet consectetur.</p><img class="img-fluid d-block mx-auto" src="assets/img/portfolio/6-full.jpg">
                                <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                                <ul class="list-unstyled">
                                    <li>Date: January 2017</li>
                                    <li>Client: Threads</li>
                                    <li>Category: Illustration</li>
                                </ul><button class="btn btn-primary" data-dismiss="modal" type="button"><i class="fa fa-times"></i><span>&nbsp;Close Project</span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="assets/js/agency.js"></script>
    <script>

        let images ='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSpI9Q149b7j8Krt-W_QUXDIq_pdtjPeNiAZw&usqp=CAU';


        var listUser = $('.listUser');
        var userSearch = $('.userSearch');
        var inputSearch = $('#inputSearch');
        var buttonSearch = $('#btnSearch');
        // tìm  kiếm
        buttonSearch.click(function (ev) {
            ev.preventDefault();
            var users = arr.filter(user => user.name === inputSearch.val().trim());
            if (users.length !== 0) {
                var p = '';
                $('.rowSearch').css({ 'display': 'block' })
                users.forEach((element, index) => {
                    p += `<tr>
                    <td>${index + 1}</td>
                            <td scope="row">${element.name}</td>
                            <td>${element.ngaySinh}</td>
                            <td >${element.email}</td>
                            <td >${element.gioiTinh}</td>
                            <td >${element.soThich}</td>
                            <td >${element.gioiThieu}</td>
                            <td><img class="img-avatar" src="${element.images}" /></td>
                        </tr> `
                })
                userSearch.html(p)
            } else {
                $('.rowSearch').css({ 'display': 'none' })
                alert('Không tìm thấy họ tên')
            }
        })


        var object = {
            name: 'Nguyễn văn a',
            ngaySinh: '1/2/2001',
            email: 'vana@fpt.edu.vn',
            gioiTinh: 'nam',
            soThich: 'abc',
            gioiThieu: 'không có',
            images
        }
        var object1 = {
            name: 'Nguyễn văn b',
            ngaySinh: '1/9/2001',
            email: 'vanb999@gmail.com',
            gioiTinh: 'nam',
            soThich: 'abc',
            gioiThieu: 'không có',
            images
        }
        var object2 = {
            name: 'nguyễn văn s',
            ngaySinh: '1/10/2001',
            email: 'vans1234@gmail.com',
            gioiTinh: 'nam',
            soThich: 'abc',
            gioiThieu: 'không có',
            images
        }

        var arr = [object, object1, object2, object];

        const updateArr = function(){
            arr.forEach(function (element, index) {
                listUser.append(`<tr class="tr">
                            <th  scope="row">${index}</th>
                            <td ><input class="input" name="name" type="text" value="${element.name}" disabled></td>
                            <td ><input class="input" name="ngaySinh" type="text" value="${element.ngaySinh}" disabled></td>
                            <td ><input class="input" name="email" type="text" value="${element.email}" disabled></td>
                            <td  ><input class="input" name="gioitinh" type="text" value="${element.gioiTinh}" disabled></td>
                            <td  ><input class="input" name="sothich" type="text" value="${element.soThich}" disabled></td>
                            <td  ><input class="input" name="gioithieu" type="text" value="${element.gioiThieu}" disabled></td>
                            <td  ><img class="img-avatar" src="${element.images}" /></td>
                            <td  ><button class="btn-remove">Delete</button><button class="btn-edit">Edit</button></td>
                        </tr> `)
            })
        }
        // danh sách
        $(document).ready(function () {
           updateArr()
            // xóa 
            const btnXoa = document.querySelectorAll('.btn-remove')
            const btnSua = document.querySelectorAll('.btn-edit')
            const tr = document.querySelectorAll('.tr');
            btnXoa.forEach((element, key) => {
                element.addEventListener('click', function (ev) {
                    tr[key].style.display = "none";
                    arr.splice(key, 1);
                    console.log(arr)
                })
            });

            btnSua.forEach((element,index)=>{
                element.addEventListener("click",function(){
                    $('input[name="name"]')[index].disabled = false;
                    $('input[name="email"]')[index].disabled = false;
                    $('input[name="gioitinh"]')[index].disabled = false;
                    $('input[name="sothich"]')[index].disabled = false;
                    $('input[name="gioithieu"]')[index].disabled = false;
                    console.log('sửa'+index)
                })
                
            })
            
            for (let index = 0; index < btnSua.length; index++) {
                btnSua[index].addEventListener("click",function(){
                    if(btnSua[index].innerHTML === 'Edit'){
                        btnSua[index].innerHTML = "Save"
                     $('input[name="name"]')[index].disabled = false;
                     $('input[name="ngaySinh"]')[index].disabled = false;
                    $('input[name="email"]')[index].disabled = false;
                    $('input[name="gioitinh"]')[index].disabled = false;
                    $('input[name="sothich"]')[index].disabled = false;
                    $('input[name="gioithieu"]')[index].disabled = false;
                    } else{
                    btnSua[index].innerHTML = 'Edit'
                    $('input[name="name"]')[index].disabled = true;
                    $('input[name="ngaySinh"]')[index].disabled = true;
                    $('input[name="email"]')[index].disabled = true;
                    $('input[name="gioitinh"]')[index].disabled = true;
                    $('input[name="sothich"]')[index].disabled = true;
                    $('input[name="gioithieu"]')[index].disabled = true;
                    }
                })
                
            }

        })
    
        // khi nhấn vào thêm
        const buttonThem = $('#add-user');
        buttonThem.click(function (ev) {
            ev.preventDefault();
            const name = $('#ipName').val();
            const ngaySinh = $('#ipNgaySinh').val();
            const email = $('#ipEmail').val();
            const soThich = $('#textareaSoThich').val();  
            const gioiThieu = $('#textareaGioiThieu').val();  
            var a = document.getElementsByName('flexRadioDefault');
            let gioiTinh = '';
            if(a[0].checked){
                gioiTinh = 'nam';
            }else if(a[1].checked){
                gioiTinh = 'nữ';
            }
            var object = {name,ngaySinh,email,gioiTinh,soThich,gioiThieu,images};
            arr.push(object);
            listUser.append(`<tr>
                            <th scope="row">4</th>
                            <td ><input class="input" name="name" type="text" value="${object.name}" disabled></td>
                            <td ><input class="input" name="ngaySinh" type="text" value="${object.ngaySinh}" disabled></td>
                            <td ><input class="input" name="email" type="text" value="${object.email}" disabled></td>
                            <td  ><input class="input" name="gioitinh" type="text" value="${object.gioiTinh}" disabled></td>
                            <td  ><input class="input" name="sothich" type="text" value="${object.soThich}" disabled></td>
                            <td  ><input class="input" name="gioithieu" type="text" value="${object.gioiThieu}" disabled></td>
                            <td  ><img class="img-avatar" src="${object.images}" /></td>
                            <td  ><button class="btn-remove">Delete</button><button class="btn-edit">Edit</button></td>
                       </tr> `)
                       alert('Thêm thành công')
        })
    </script>